<div class="card shadow-sm m-4">
  <div class="card-header bg-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Purchase Orders</h5>
    <button mat-raised-button color="primary" (click)="openDialog()">+ New Purchase</button>
  </div>

  <div class="card-body">
    <!-- Table inside a mat-card -->
    <mat-card class="erp-card shadow-sm">
      <table mat-table class="table table-hover">
        <thead class="bg-light">
          <tr>
            <th>#</th>
            <th>Invoice</th>
            <th>Supplier</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th class="text-center">Action</th>
            <th>Details/Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of orders(); let i = index">
            <td>{{i + 1}}</td>
            <td><code>{{p.invoiceNumber}}</code></td>
            <td>{{p.supplier?.name}}</td>
            <td>{{p.created_at | date}}</td>
            <td>{{p.totalAmount | number}}</td>
            <td>
              <span class="badge" [ngClass]="{
                'bg-warning': p.status === 'PENDING',
                'bg-info': p.status === 'APPROVED',
                'bg-success': p.status === 'RECEIVED',
                'bg-danger': p.status === 'CANCELED'
              }">{{p.status}}</span>
            </td>
            <td class="text-center">
              <div class="btn-group">
                <!-- Pending Button -->
                <button mat-button [disabled]="true" class="btn btn-warning">Pending</button>

                <!-- Approve Button (Only enable if status is 'PENDING') -->
                <button mat-button [disabled]="p.status !== 'PENDING'" (click)="updateStatus(p, 'APPROVED')"
                  class="btn btn-info">
                  Approve
                </button>

                <!-- Receive Button (Only enable if status is 'APPROVED') -->
                <button mat-button [disabled]="p.status !== 'APPROVED'" (click)="updateStatus(p, 'RECEIVED')"
                  class="btn btn-success">
                  Receive
                </button>

                <!-- Cancel Button (Only enable if status is not 'RECEIVED' or 'CANCELED') -->
                <button mat-button [disabled]="p.status === 'RECEIVED' || p.status === 'CANCELED'"
                  (click)="updateStatus(p, 'CANCELED')" class="btn btn-danger">
                  Cancel
                </button>
              </div>
            </td>
            <td>
              <button mat-raised-button color="primary" (click)="openViewDialog(p.id)">View</button>
              <button mat-raised-button color="accent">Print</button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>